/* AVATAR-TEMPLATE-BEGIN */
/*{id} is userid in data.json and {img} is the image link, usually gif*/
/*Popout*/
.userPopoutInner_c69a7b:has(>.clickable_f89da9>div>div>.mask_c51b4e>foreignObject>.avatarStack_c51b4e>.avatar_c51b4e[src^="https://cdn.discordapp.com/avatars/{id}"]) {
  &:before {
    background: url({img}) center / var(--ub-fillmode, 100% 100%);
    content: "";
    width: 340px;
    max-height: 120px;
  }
  &>.bannerSVGWrapper_b32cc2 {
    height: 120px;
    &>foreignObject>.banner_c3e427 {
      background: none !important;
    }
  }
  &>.clickable_f89da9 {
    top: 76px
  }
}

/*Full Profile*/
.topSection_b9fccc:has(>header>div>div:first-child>div>.mask_c51b4e>foreignObject>div>.avatar_c51b4e[src^="https://cdn.discordapp.com/avatars/{id}"]) {
  &:before {
    background: url({img}) center / var(--ub-fillmode, 100% 100%);
    content: "";
    width: 600px;
    height: 212px;
    display: block;
    position: absolute;
  }
  &>header>.bannerSVGWrapper_b32cc2 {
    height: 0px;
    padding-bottom: 212px;
    min-height: 0px !important;
    &>foreignObject>.banner_c3e427 {
      background: none !important;
    }
  }
}
/* AVATAR-TEMPLATE-END */
