/* AVATAR-TEMPLATE-BEGIN */
/*{id} is userid in data.json and {img} is the image link, usually gif*/
/*Popout*/
.userPopoutInner_e90432:has(>.clickable_f0c9cf>div>div>.mask_d5067d>foreignObject>.avatarStack__789b4>.avatar__991e2[src^="https://cdn.discordapp.com/avatars/{id}"]) {
  &:before {
    background: url({img}) center / var(--ub-fillmode, 100% 100%);
    content: "";
    width: 340px;
    max-height: 120px;
  }
  &>.bannerSVGWrapper__8a38c {
    height: 120px;
    &>foreignObject>.banner__6d414 {
      background: none !important;
    }
  }
  &>.clickable_f0c9cf {
    top: 76px
  }
}

/*Full Profile*/
.topSection__2d8b8:has(>header>div>div:first-child>div>.mask_d5067d>foreignObject>div>.avatar__991e2[src^="https://cdn.discordapp.com/avatars/{id}"]) {
  &:before {
    background: url({img}) center / var(--ub-fillmode, 100% 100%);
    content: "";
    width: 600px;
    height: 212px;
    display: block;
    position: absolute;
  }
  &>header>.bannerSVGWrapper__8a38c {
    height: 0px;
    padding-bottom: 212px;
    min-height: 0px !important;
    &>foreignObject>.banner__6d414 {
      background: none !important;
    }
  }
}
/* AVATAR-TEMPLATE-END */
